*.iml
.gradle
/local.properties
/github.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build.gradle
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/app/build.gradle
